@section Scripts{}
@section Heads {}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            İndirmeler
            <small></small>
        </h1>
      
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- The time line -->
                <ul class="timeline">
                    <!-- timeline time label -->
                    <li class="time-label">
                        <span class="bg-red">
                         29.12.2018
                        </span>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <li>
                        <i class="fa fa-envelope bg-blue"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> 14:00 </span>
                            <h3 class="timeline-header"><a href="#">Yeni Versiyon v1.0.1 Yayınlandı. </a></h3>
                            <div class="timeline-body">
                                Amazon S3 entegrasyonu yapıldı.<br />
                                Dosya silmede yaşanan problem giderildi.<br />
                                Alt klasörlerdeki dosya güncelleme sorunu düzeltildi.<br />
                                
                            </div>
                            <div class="timeline-footer">
                                <a href="https://api.ebackup.cloud/Downloads/v1.0.1.rar" class="btn btn-primary btn-xs">İndir</a>
                              
                            </div>
                        </div>
                    </li>
                    <!-- END timeline item -->
                   
                    <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                    </li>
                </ul>
            </div>
            <!-- /.col -->
        </div>
      
    </section>
    <!-- /.content -->
</div>